@font-face {
  font-family: NunitoSans-regular;
  src: url(../nunitoSans/NunitoSans-Regular.ttf) format("truetype");
}
@font-face {
  font-family: NunitoSans-SemiBold;
  src: url(../nunitoSans/NunitoSans-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: NunitoSans-Bold;
  src: url(../nunitoSans/NunitoSans-Bold.ttf) format("truetype");
}
@font-face {
  font-family: NunitoSans-Black;
  src: url(../nunitoSans/NunitoSans-Black.ttf) format("truetype");
}
body {
  font-family: NunitoSans-regular;
}

main {
  background: #eceff1 !important;
}

#appTabbar .tabbar--material {
  box-shadow: 0 -1px 5px 0px rgba(0, 0, 0, 0.08);
}
#appTabbar .ons-icon {
  font-size: 20px;
}
#appTabbar .tabbar--material__button {
  color: #616161;
}
#appTabbar .tabbar__label {
  font-family: NunitoSans-Bold;
}
#appTabbar :checked + .tabbar--material__button {
  color: #0454be !important;
}
#appTabbar .tabbar--material__border {
  background-color: #0454be;
}

ons-toolbar {
  display: flex !important;
  align-items: center !important;
  background: linear-gradient(to left, #0d47a1, #2e6ccd) !important;
  box-shadow: none !important;
}
ons-toolbar .toolbar__left,
ons-toolbar .toolbar__center,
ons-toolbar .toolbar__right {
  height: auto !important;
  line-height: normal !important;
  color: #fff !important;
  font-family: NunitoSans-Regular !important;
  font-size: 18px !important;
  letter-spacing: 0.5px;
}
ons-toolbar .toolbar__left .toolbar-button--material {
  color: #fff !important;
}

ons-splitter-mask {
  background-color: rgba(0, 0, 0, 0.4);
}

.back-button--material__icon {
  fill: #fff;
}

#side-nav {
  box-shadow: 0 0px 14px rgba(0, 0, 0, 0.08);
}
#side-nav .img-content .img-user {
  background: #fff;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  margin-left: 20px;
  position: relative;
  top: 0px;
  text-align: center;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
#side-nav .img-content .img-user a {
  margin: 0 auto;
  font-size: 28px;
  font-family: NunitoSans-Black !important;
  color: #607d8b;
}
#side-nav .page__content {
  background: #fff !important;
}
#side-nav .header-nav {
  width: 100%;
  height: 180px;
  background: #0454be;
  position: relative;
  box-shadow: inset 0px -4px 5px 0 rgba(0, 0, 0, 0.08);
}
#side-nav .header-nav ons-list {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: transparent;
}
#side-nav .header-nav ons-list .list-item__title,
#side-nav .header-nav ons-list .list-item__subtitle {
  color: #fff !important;
  font-family: NunitoSans-SemiBold !important;
}
#side-nav ons-list .list-item__left,
#side-nav ons-list .list-item__center {
  padding-top: 18px !important;
  padding-bottom: 18px !important;
}
#side-nav ons-list .list-item__center {
  font-family: NunitoSans-Regular !important;
  color: #444 !important;
}
#side-nav ons-list ons-icon {
  color: #444 !important;
}

header {
  height: 90px;
  width: 100%;
  background: linear-gradient(to left, #0d47a1, #2e6ccd) !important;
  box-shadow: inset 0px -8px 5px 0 rgba(0, 0, 0, 0.1);
  padding-top: 50px;
}
header .title-header {
  color: #fff;
  font-family: NunitoSans-SemiBold !important;
  margin-left: 30px;
  font-size: 22px;
  letter-spacing: 0.2px;
}

#home main {
  margin-top: -61px;
  background: transparent !important;
}
#home ons-card {
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.06);
  padding: 15px 25px;
  margin: 15px;
}
#home ons-card .header-card {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 0.8fr 2fr;
}
#home ons-card .left,
#home ons-card .right {
  box-sizing: border-box;
  display: flex;
  align-items: center;
}
#home ons-card .img {
  width: 90px;
  height: 90px;
  border-radius: 150px;
}
#home ons-card .img img {
  width: 100%;
  height: 100%;
  border-radius: 150px;
  margin: 0 auto;
}
#home ons-card .titulo {
  margin: 0;
  font-family: NunitoSans-Bold !important;
  color: #333;
  font-size: 22px;
  line-height: 1;
  margin-bottom: 5px;
}
#home ons-card .sub-titulo {
  font-family: NunitoSans-Regular !important;
  font-size: 14px;
  color: #919191;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
#home ons-card .text {
  width: 100%;
  font-size: 16px;
  padding: 5px 0;
  font-family: NunitoSans-Regular !important;
  color: #333;
}

#facturas .factura .content {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
  box-sizing: border-box;
}
#facturas .factura .content div {
  color: #616161;
}
#facturas .factura .content .item {
  text-align: center;
}
#facturas .factura .content .item .first {
  font-family: NunitoSans-SemiBold !important;
  font-size: 18px;
}
#facturas .factura .content .item .second {
  font-family: NunitoSans-Regular !important;
  font-size: 12px;
  text-transform: uppercase;
}
#facturas .factura .footer {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr 1fr;
}
#facturas .factura .footer #btnVerFactura {
  background: #fff !important;
  color: #215ebc;
  border: 1px solid #215ebc;
}
#facturas .factura .footer #btnPagar {
  background: #ffc107 !important;
  border: 1px solid #ffc107;
}
#facturas .historial ons-icon {
  display: flex;
  align-items: center;
  margin: 0 auto;
  color: #616161;
}

.compact {
  padding: 15px !important;
}
.compact .header {
  padding-bottom: 15px !important;
}

.card-full {
  background: #fff;
  box-shadow: 0 25px 20px -20px rgba(0, 0, 0, 0.1), 0 0 15px rgba(0, 0, 0, 0.06);
  padding: 25px 15px 10px 15px;
  margin: 0 0 15px 0;
  box-sizing: border-box;
}
.card-full .header {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 0.4fr 2fr;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  padding-bottom: 20px;
}
.card-full .header .img {
  display: flex;
  align-items: center;
}
.card-full .header .img .sub-img {
  width: 50px;
  height: 50px;
  background: rgba(0, 0, 0, 0.04);
  border-radius: 100%;
  display: flex;
  align-items: center;
  text-align: center;
}
.card-full .header .img .sub-img ons-icon {
  color: #215ebc;
  margin: 0 auto;
}
.card-full .header .titulo {
  color: #333;
  font-family: NunitoSans-Regular !important;
  display: flex;
  align-items: center;
}
.card-full .header .titulo div {
  width: 100%;
}
.card-full .header .titulo .first {
  font-family: NunitoSans-SemiBold !important;
  font-size: 24px;
}
.card-full .header .titulo .second {
  font-family: NunitoSans-Regular !important;
  font-size: 14px;
  text-transform: uppercase;
}
.card-full .content {
  padding: 15px 15px 5px 15px;
  box-sizing: border-box;
}
.card-full .content label {
  font-size: 14px;
  font-family: NunitoSans-SemiBold;
  color: #666;
}

[type=month],
select {
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #afafaf !important;
  border: none;
  color: #333 !important;
  font-size: 16px;
  font-family: NunitoSans-SemiBold;
  margin-bottom: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url("../../img/br_down.png") white no-repeat;
  background: url("../../img/br_down.png") white no-repeat calc(100% - 10px) !important;
  background-size: 3% !important;
}

input[type=month]:not(.has-value):before {
  color: #333;
  content: attr(placeholder);
}

ons-button {
  padding: 20px 0px !important;
  height: auto !important;
  min-height: auto !important;
  line-height: 0 !important;
  background: #ccc;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1) !important;
  color: #fff;
  font-size: 18px !important;
  text-transform: capitalize !important;
  font-family: NunitoSans-SemiBold !important;
  margin-top: 5px !important;
}

#loader a {
  font-family: NunitoSans-SemiBold;
}
#loader .alert-dialog-content--material {
  margin: 10px 0;
}
#loader .alert-dialog-container--material {
  padding: 0;
}

main input {
  font-size: 16px !important;
}

textarea {
  width: 100% !important;
  margin-top: 5px !important;
  border-radius: 2px !important;
  border: 0 !important;
  font-size: 16px !important;
}

.thumbnail {
  height: 100px;
  margin: 10px;
  float: left;
}

#clear {
  display: none;
}

#result {
  border: 4px dotted #cccccc;
  display: none;
  float: right;
  margin: 0 auto;
  width: 511px;
}

#carouselImages ons-carousel-item {
  width: 33% !important;
  height: 100px;
}

/*# sourceMappingURL=global.css.map */
