<!-- <template id="sidemenu.html"> -->
<ons-page id="side-nav">
    <div class="header-nav">
        <ons-list>
            <div class="img-content">
                <div class="img-user">
                    <a>JS</a>
                </div>
            </div>
            <ons-list-item>
                <div class="center">
                    <span class="list-item__title" id="span_user"></span>
                    <span class="list-item__subtitle" id="span_mail"></span>
                </div>
            </ons-list-item>
        </ons-list>
    </div>
    <ons-list>
        <ons-list-item onclick="document.getElementById('appTabbar').setActiveTab(0);" modifier="nodivider"
            class="itm-list" tappable>
            <div class="left">
                <ons-icon icon="fa-home" class="list-item__icon"></ons-icon>
            </div>
            <div class="center">
                Principal
            </div>
        </ons-list-item>
        <!-- <ons-list-title>Procesos</ons-list-title> -->
        <ons-list-item modifier="nodivider" class="itm-list" expandable>
            <div class="left">
                <ons-icon icon="fa-folder" class="list-item__icon"></ons-icon>
            </div>
            <div class="center">
                Reportes
            </div>
            <ons-list class="expandable-content">
                <ons-list-item tappable id="btnCartera">Cartera</ons-list-item>
                <ons-list-item tappable>
                    Facturación</ons-list-item>
                <ons-list-item tappable>Pagos</ons-list-item>
                <ons-list-item tappable>Publicaciones</ons-list-item>
            </ons-list>
        </ons-list-item>
        <ons-list-item modifier="longdivider" class="itm-list" expandable>
            <div class="left">
                <ons-icon icon="fa-address-card" class="list-item__icon"></ons-icon>
            </div>
            <div class="center">
                Cuenta
            </div>
            <ons-list class="expandable-content">
                <ons-list-item tappable>Información</ons-list-item>
                <ons-list-item tappable>Salir</ons-list-item>
            </ons-list>
        </ons-list-item>
        <ons-list-item modifier="longdivider" class="itm-list" tappable>
            <div class="left">
                <ons-icon icon="fa-info-circle" class="list-item__icon"></ons-icon>
            </div>
            <div class="center">
                Ayuda / PQR
            </div>
        </ons-list-item>
    </ons-list>

    <script>
        ons.ready(function () {
            console.log('->Side nav')
            var data = JSON.parse($.cookie("sesion"));
            console.log(data);
            $('#span_user').html(data.descripcion);
            $('#span_mail').html(data.correo);
        });

        ons.getScriptPage().onInit = function () {
            // Set ons-splitter-side animation
            this.parentElement.setAttribute('animation', ons.platform.isAndroid() ? 'overlay' : 'reveal');
        };

        document.getElementById('btnCartera').addEventListener('click', function () {
            fn.pushPage({ 'id': 'paginas/procesos.cartera.html', 'title': 'Cartera' })
        });
    </script>
</ons-page>
<!-- </template> -->