<!-- <template id="sidemenu.html"> -->
<ons-page id="side-nav">
    <div class="header-nav">
        <ons-list>
            <div class="img-content">
                <div class="img-user">
                    <a id="iniciales"></a>
                </div>
            </div>
            <ons-list-item>
                <div class="center">
                    <span class="list-item__title" id="span_user"></span>
                    <span class="list-item__subtitle" id="span_mail"></span>
                </div>
            </ons-list-item>
        </ons-list>
    </div>
    <ons-list>
        <ons-list-item onclick="document.getElementById('appTabbar').setActiveTab(0);" modifier="nodivider"
            class="itm-list" tappable>
            <div class="left">
                <ons-icon icon="fa-home" class="list-item__icon"></ons-icon>
            </div>
            <div class="center">
                Principal
            </div>
        </ons-list-item>
        <!-- <ons-list-title>Procesos</ons-list-title> -->
        <ons-list-item modifier="nodivider" class="itm-list" expandable>
            <div class="left">
                <ons-icon icon="fa-folder" class="list-item__icon"></ons-icon>
            </div>
            <div class="center">
                Reportes
            </div>
            <ons-list class="expandable-content">
                <ons-list-item tappable id="btnCartera">Cartera</ons-list-item>
                <ons-list-item tappable>
                    Facturación</ons-list-item>
                <ons-list-item tappable>Pagos</ons-list-item>
                <ons-list-item tappable>Publicaciones</ons-list-item>
            </ons-list>
        </ons-list-item>
        <ons-list-item modifier="longdivider" class="itm-list" expandable>
            <div class="left">
                <ons-icon icon="fa-address-card" class="list-item__icon"></ons-icon>
            </div>
            <div class="center">
                Cuenta
            </div>
            <ons-list class="expandable-content">
                <ons-list-item tappable>Información</ons-list-item>
                <ons-list-item tappable>Salir</ons-list-item>
            </ons-list>
        </ons-list-item>
        <ons-list-item modifier="longdivider" class="itm-list" tappable>
            <div class="left">
                <ons-icon icon="fa-info-circle" class="list-item__icon"></ons-icon>
            </div>
            <div class="center">
                Ayuda / PQR
            </div>
        </ons-list-item>
    </ons-list>

    <script>
        ons.ready(function () {
            console.log('->Side nav')
            var data = JSON.parse($.cookie("sesion"));
            console.log(data);
            $('#span_user').html(capitalize(data.descripcion));
            $('#span_mail').html(data.correo.toLowerCase());
            _generarImagen(data.descripcion);
        });

        function _generarImagen(nombre) {
            var nombreCliente = nombre.split(" ");
            var primeraLetra = nombreCliente[0].split("");

            if (nombreCliente.length == 3 || nombreCliente.length == 2) {
                segundaLetra = nombreCliente[1].split("");
            } else if (nombreCliente.length == 1) {
                segundaLetra = nombreCliente[0].split("");
            } else {
                segundaLetra = nombreCliente[2].split("");
            }

            if (nombreCliente.length == 1) {
                $('#iniciales').html(primeraLetra[0] + segundaLetra[segundaLetra.length - 1]);
            } else {
                $('#iniciales').html(primeraLetra[0] + segundaLetra[0]);
            }
        }

        ons.getScriptPage().onInit = function () {
            this.parentElement.setAttribute('animation', ons.platform.isAndroid() ? 'overlay' : 'reveal');
        };

        document.getElementById('btnCartera').addEventListener('click', function () {
            fn.pushPage({ 'id': 'paginas/procesos.cartera.html', 'title': 'Cartera' })
        });

        function capitalize(str) {
            var splitStr = str.toLowerCase().split(' ');
            for (var i = 0; i < splitStr.length; i++) splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
            return splitStr.join(' ');
        }
    </script>
</ons-page>
<!-- </template> -->